<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Home</title>
</h:head>

<h:body>
	<h:form id="home">
		<p:panel>
			<p:messages id="messages" autoUpdate="true" closable="true" />
			
			<h3><p:outputLabel value="Home" /></h3>
			
			<p:outputLabel value="Login" />
			<p:inputText value="#{homeBean.userName}" style="margin-left:20px" maxlength="10"/>
			<br />
			
			<p:outputLabel value="Senha" />
			<p:password value="#{homeBean.password}" style="margin-left:20px" maxlength="10"/>
			<br />
			<p:commandButton type="submit" value="Acessar" action="#{homeBean.login}" />
			
		</p:panel>
	</h:form>
</h:body>

</html>