<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:p="http://primefaces.org/ui">
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Vistorias</title>
</h:head>

<h:body>
	<h:form id="vistorias">
		<p:panel>
			<p:messages id="messages" autoUpdate="true" closable="true" />
		
			<h3><p:outputLabel value="Vistorias" /></h3>
			
			<p:dataTable id="list" var="vistoria" value="#{vistoriasBean.vistorias}">
				<p:column headerText="Id">
					<h:outputText value="#{vistoria.id}" />
				</p:column>
				
				<p:column headerText="Proprietario">
					<h:outputText value="#{vistoria.proprietario}" />
				</p:column>
				
				<p:column headerText="Empreendimento">
					<h:outputText value="#{vistoria.empreendimento}" />
				</p:column>
				
				<p:column headerText="Data da Vistoria">
					<h:outputText value="#{vistoria.dataVistoria}">
						<f:convertDateTime pattern="dd/MM/yyyy"/>
					</h:outputText>
				</p:column>
				
				<p:column headerText="Horario agendado">
					<h:outputText value="#{vistoria.horarioAgendado}">
						<f:convertDateTime pattern="HH:mm"/>
					</h:outputText>
				</p:column>
				
				<p:column headerText="Incorporadora">
					<h:outputText value="#{vistoria.incorporadora}" />
				</p:column>
				
				<p:column>
					<p:commandButton value="Download" type="submit" onclick="PrimeFaces.monitorDownload(start, stop);" icon="ui-icon-arrowthick-1-s">
						<p:fileDownload value="#{vistoriasBean.download(vistoria)}" />
					</p:commandButton>
				</p:column>
					
			</p:dataTable>
			
			<br />
		</p:panel>
			
		<p:commandButton type="submit" value="Logoff" action="#{vistoriasBean.logoff}" />
	</h:form>
		
</h:body>
</html>